{host,[{id,{"c200","host"}},{node,'host@c200'},{type,auto_controller},
       {application_dir,"host_c200.applications"},
       {capabilities,[{port,5566},{hw,[zigbee_2]}]}
       ]
}.
{host,[{id,{"c201","host"}},{node,'host@c201'},{type,auto_controller},
       {application_dir,"host_c201.applications"},
       {capabilities,[]}
       ]
}.       
	    
