{tables,[{host,[{attributes,[id,hosstname,ip,ssh_port,uid,pwd,node,typ,,application_dir,cpabilities]}]}]}.
         

{host,[{id,{"c200","host"}},
	{hostname,"c200"},
	{ip,"192.168.0.200"},
	{ssh_port,22},
	{uid,"joq62"},
	{pwd,"festum01"},
	{node,'host@c200'},{type,auto_controller},
	{application_dir,"host_c200.applications"},
	{capabilities,[]}
	]
}.
{host,[{id,{"c201","host"}},
	{hostname,"c201"},
	{ip,"192.168.0.201"},
	{ssh_port,22},
	{uid,"joq62"},
	{pwd,"festum01"},
	{node,'host@c201'},{type,auto_controller},
	{application_dir,"host_c201.applications"},
	{capabilities,[]}
	]	
}.
{host,[{id,{"c202","host"}},
	{hostname,"c202"},
	{ip,"192.168.0.202"},
	{ssh_port,22},
	{uid,"joq62"},
	{pwd,"festum01"},
	{node,'host@c202'},{type,auto_controller},
	{application_dir,"host_c202.applications"},
        {capabilities,[]}
	]	
}.
{host,[{id,{"c203","host"}},
	{hostname,"c203"},
	{ip,"192.168.0.203"},
	{ssh_port,22},
	{uid,"pi"},
	{pwd,"festum01"},
	{node,'host@c203'},{type,no_auto_worker},
	{application_dir,"host_c203.applications"},
	{capabilities,[]}
	]	
}.
	    
